@font-face {
  src: url("fonts/NoirStd-Regular.ttf");
  font-family: "Noir";
}
@font-face {
  src: url("fonts/Potra.ttf");
  font-family: "Porta";
}

@font-face {
  src: url("fonts/Anurati-Regular.otf");
  font-family: "Anurati";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Noir";
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
}

/* Header */
.container {
  position: relative;
  height: 90vh;
}

nav ul {
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  min-height: 5vh;
  background: #2f4b7c;
  z-index: 2;
}

nav ul li {
  font-family: "Noir";
  font-size: calc(1rem + 0.5vw);
  list-style: none;
  display: inline-block;
  margin: 0 0.2rem;
  padding: 1rem;
}

.nav-item {
  text-decoration: none;
  color: #ffa600;
}

.nav-item:hover {
  color: #ff6361;
  transition: 0.3s ease-in-out;
}

.hero {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  align-items: center;
}

.portfolio-title {
  font-family: "Anurati";
  font-weight: 300;
  font-size: 10rem;
  background: linear-gradient(
    -45deg,
    #003f5c,
    #58508d,
    #bc5090,
    #ff6361,
    #ffa600
  );
  margin-top: 12rem;
  z-index: 3;
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero img {
  object-fit: cover;
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  animation: reveal 1s forwards;
  z-index: 1;
  mix-blend-mode: lighten;
}
.hero video {
  position: absolute;
  left: 0;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  animation: reveal 1s 0.5s forwards;
}
/* Header */

/* Introduction */
.intro-section {
  min-height: 90vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 15rem;
}

.intro-box {
  position: relative;
  text-align: center;
  width: 50%;
  margin: auto;
}
.intro-heading {
  padding: 2rem 0;
  font-size: 5rem;
  position: relative;
  background: linear-gradient(
    -45deg,
    #003f5c,
    #58508d,
    #bc5090,
    #ff6361,
    #ffa600
  );
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-img {
  width: 25%;
  padding: 5rem 2rem;
}

.intro-content {
  padding: 2rem 0;
  text-align: center;
  font-size: 2.5rem;
  color: #003f5c;
}
/* Introduction */
/* Skills*/
.skills-section {
  border-radius: 3rem;
  background: #2f4b7c;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  margin: 0 10rem;
}

.skills-section img {
  width: 50%;
}

.skills-img {
  flex: 1 1 30rem;
  padding: 10rem 10rem;
  text-align: center;
}
.skills-content {
  text-align: left;
  align-items: flex-start;
  color: #ffffff;
  display: flex;
  flex: 1 1 30rem;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}

.skills-section-right {
  border-radius: 3rem;
  background: #003f5c;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  margin: 2rem 10rem;
}

.skills-section-right img {
  width: 50%;
}
.skills-section-right h3 {
  color: #ff6361;
}
.skills-section-right h4 {
  color: #ffa600;
}

.skills-content-right {
  text-align: right;
  align-items: flex-end;
  color: #ffffff;
  display: flex;
  flex: 1 1 30rem;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}

.skills-title {
  color: #ff6361;
  font-size: 2.5rem;
  padding: 1rem 0;
}
.skills-sub {
  color: #ffa600;
  font-size: 1.7rem;
  padding: 1rem 0;
}
.skills-section ol li {
  list-style: none;
}
/* Skills*/
/* Projects*/
.project-section {
  display: flex;
}
/* Projects */

footer {
  color: #2f4b7c;
  text-align: center;
  min-width: 90vw;
  min-height: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

footer p {
  padding: 1rem 0;
}
/* Animations */
@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes swing {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotate(3deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
