@font-face {
  src: url("fonts/NoirStd-Regular.ttf");
  font-family: "Noir";
}
@font-face {
  src: url("fonts/Potra.ttf");
  font-family: "Porta";
}

@font-face {
  src: url("fonts/Anurati-Regular.otf");
  font-family: "Anurati";
}

@media (max-width: 300px) {
  html,
  body {
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Noir";
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
}
.clear-fix {
  clear: both;
}

/* Header */
.container {
  border: none;
  position: relative;
  height: 100vh;
}

nav {
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  text-align: right;
  z-index: 3;
}

nav ul li {
  font-family: "Noir";
  font-size: 2rem;
  list-style: none;
  display: inline-block;
  margin: 0 0.2rem;
  padding: 1rem;
}

.nav-item {
  text-decoration: none;
  color: #003f5c;
}

.nav-item:hover {
  color: #ff6361;
}

.portfolio-title {
  font-family: "Anurati";
  font-weight: 300;
  font-size: 10rem;
  position: absolute;
  opacity: 0.9;
  top: 15%;
  left: 50%;
  background: linear-gradient(
    -45deg,
    #003f5c,
    #58508d,
    #bc5090,
    #ff6361,
    #ffa600
  );
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}
.container figure img {
  object-fit: cover;
  position: absolute;
  top: -5%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  animation: reveal 1s forwards;
  mix-blend-mode: lighten;
}
.container video {
  position: absolute;
  top: -5%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  overflow: hidden;
  animation: reveal 1s 0.5s forwards;
}

/* Header */

/* Introduction */
.intro-section {
  width: 100vw;
  height: 50vh;
  color: #ffa600;
  position: relative;
}

.intro-box {
  text-align: center;
  width: 50%;
  margin: auto;
}
.intro-heading {
  padding: 2rem 0;
  font-size: 5rem;
  position: relative;
  background: linear-gradient(
    -45deg,
    #003f5c,
    #58508d,
    #bc5090,
    #ff6361,
    #ffa600
  );
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-img {
  width: 25%;
  float: left;
  margin: 5rem 2rem;
}

.intro-content {
  padding: 2rem 0;
  margin: 0 2rem;
  text-align: justify;
  color: #003f5c;
  font-size: 2.5rem;
  overflow: hidden;
}
/* Introduction */
/* Skills*/
.skills-section {
  position: relative;
  width: 100vw;
  height: 65vh;
}

.skills-box {
  width: 75%;
  margin: auto;
}

.skills-img {
  width: 10%;
  display: block;
  float: left;
}
/* Skills*/
/* Projects*/
.porject-section {
  position: relative;
  height: 50vh;
  width: 100vw;
}
/* Projects */
/* Animations */
@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes swing {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotate(3deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
